$color-red2:#971a1e;
$color-darkred:#861519;
$color-dark:#585e62;
// $color-dark2:#585e62;
$color-navydark:#252a38;
$color-darknavy:#1b1e25;
$color-gray2:#adb5bd;
$color-lightgray:#e7ebee;
$color-lightgray2:#f0f0f0;
// BASIC
$color-white:#ffffff;
$color-black:#000000;
$color-gray:#3a515f;
$color-red:#af191a;
$color-navy:#0b476c;
$color-primary:#0257ab;
$color-secondary:$color-red;
$color-third:$color-red;