$roboto-reg: 'robotoregular', sans-serif;
$roboto-bold: 'robotobold', sans-serif;
$roboto-light: 'robotolight', sans-serif;
$sourcesans-semibold: 'source_sans_prosemibold' , sans-serif;

$weight-bold:bold;
$weight-extrabold:800;
$weight-semibold:600;
$weight-light:300;
$weight-normal:normal;

@font-face {
    font-family: 'robotoregular';
    src: url('../../public/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../public/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../public/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../../public/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../../public/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../../public/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../../public/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../../public/fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}