.innerpage-banner{
    height: 100vh;
    min-height: calc(100%);
    position: relative;

    @media only screen and (max-width:1260px){
        height: 80vh;
    }

    @media only screen and (max-width:1060px){
        height: 70vh;   
    }

    @media only screen and (max-width: 991px){
        height: auto;   
    }

    .row{
        align-items: center;
        height: 100%;
    }

    &__content{
        text-align: left;
        padding-left: 150px;
        padding-right: 80px;

        @media only screen and (max-width:1600px){
            flex: 0 0 46.666667%;
            max-width: 45.666667%;
        }

        @media only screen and (max-width:1450px){
            padding-left: 70px;
            padding-right: 30px;
        }

        @media only screen and (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-left: 30px;
            padding-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }

        h1{
            font-family: $roboto-bold;
            font-size: 20px;
            text-transform: capitalize;
            color: #383434;

            @media only screen and (max-width:1160px){
                font-size: 18px;
            }
        }

        h2{
            font-family: $sourcesans-semibold;
            font-size: 80px;
            color: #383434;
            margin-bottom: 50px;
            text-transform: capitalize;
            line-height: 80px;

            @media only screen and (max-width:1600px){
                font-size: 66px;
                line-height: 71px;
            }

            @media only screen and (max-width:1260px){
                font-size: 54px;
                line-height: 54px;
                margin-bottom: 30px;
            }

            @media only screen and (max-width:1160px){
                font-size: 54px;
                line-height: 54px;
                margin-bottom: 20px;
            }

            @media only screen and (max-width:1060px){
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 20px;
            }

            @media only screen and (max-width:414px){
                font-size: 45px;
                line-height: 45px;
            }
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            margin-bottom: 50px;
            color: #383434;

            @media only screen and (max-width:1260px){
                font-size: 18px;
                margin-bottom: 40px;
            }

            @media only screen and (max-width:1060px){
                font-size: 16px;
                margin-bottom: 30px; 
            }
        }
    }

    &__image{
        height: 100%;
        padding-right: 0;

        @media only screen and (max-width:1600px){
            flex: 0 0 54.333333%;
            max-width: 54.333333%;
        }

        @media only screen and (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            @media only screen and (max-width: 991px){
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                object-position: center;
            }
        }
    }
}

.innerpage-banner-circle{
    height: 650px;
    min-height: calc(100%);
    position: relative;
    overflow: hidden;
    background: #fff;

    @media only screen and (max-width:1450px){
        padding-left: 70px;
        padding-right: 30px;
    }

    @media only screen and (max-width:1150px){
        height: auto;
        padding: 20px 0 40px 0;
    }

    @media only screen and (max-width: 991px){
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 30px;
        padding-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .row{
        align-items: center;
        height: 100%;
    }

    &:before{
        content:"";
        background-image: url('../../public/images/logo-overlay-blue.png');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 35px;
        right: -64px;
        width: 450px;
        height: 450px;
        z-index: 1;

        @media only screen and (max-width:1500px){
            right: -60px;
            width: 365px;
            height: 380px;
        }

        @media only screen and (max-width:1300px){
            right: -20px;
            width: 291px;
            height: 305px;
        }
    }

    &__content{
        text-align: left;
        padding-right: 80px;
        // padding-left: 150px;

        @media only screen and (max-width:1300px){
            padding-right: 15px;
        }

        @media only screen and (max-width: 991px){
            text-align: center;
        }

        h1{
            font-family: $roboto-bold;
            font-size: 20px;
            text-transform: capitalize;
            color: #383434;
        }

        h2{
            font-family: $sourcesans-semibold;
            font-size: 80px;
            color: #383434;
            margin-bottom: 50px;
            text-transform: capitalize;
            line-height: 80px;

            @media only screen and (max-width: 1199px){
                line-height: 70px;
                margin-bottom: 25px;
                font-size: 70px;
            }

            @media only screen and (max-width: 991px){
                font-size: 60px;
                line-height: 60px;
            }

            @media only screen and (max-width: 480px){
                font-size: 50px;
                line-height: 50px;
            }
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            margin-bottom: 0;
            color: #383434;
        }
    }

    &__image{
        height: 650px;

        @media only screen and (max-width: 991px){
            height: auto;
        }

        img{
            padding-top: 20px;
            width: 730px;
            height: 740px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin-top: 25px;

            @media only screen and (max-width:1500px){
                width: 680px;
                height: 665px;
            }

            @media only screen and (max-width:1300px){
                width: 550px;
                height: 550px;
            }

            @media only screen and (max-width:1150px){
                width: 510px;
                height: 510px;
            }

            @media only screen and (max-width:991px){
                padding-top: 0;
                width: 475px;
                height: 475px;
            }

            @media only screen and (max-width:480px){
                width: 100%;
                height: 420px;
                border-radius: 0;
            }

            @media only screen and (max-width:380px){
                height: 325px;
            }
        }
    }
}


.innerpage-banner-team{
    height: 400px;
    min-height: calc(100%);
    position: relative;
    background: #383434;
    border-top: 1px solid #fff;
    padding-top: 30px;

    @media only screen and (max-width:991px){
        height: auto;
    }

    .row{
        height: 100%;
    }

    &__content{
        text-align: left;
        padding-right: 80px;

        @media only screen and (max-width:991px){
            order: 2;
            text-align: center;
            padding-right: 15px;
            padding-bottom: 30px;
        }

        .back-to-team{
            color: #fff;
            font-family: $roboto-light;
            font-size: 20px;
            margin-top: 20px;
            display: block;

            img{
                margin-right: 20px;
                filter: invert(100%);

                @media only screen and (max-width: 450px){
                    width: 28px;
                    margin-right: 10px;
                }
            }
        }

        h1{
            font-family: $sourcesans-semibold;
            font-size: 75px;
            text-transform: capitalize;
            color: #fff;
            margin-top: 50px;
            position: relative;

            @media only screen and (max-width:1199px){
                font-size: 60px;
                margin-top: 35px;
            }

            @media only screen and (max-width:991px){
                font-size: 45px;
                margin-top: 15px;
            }
        }

        .line{
            width: 90px;
            height: 15px;
            margin: 17px 0 27px 0;
            background: #ffda00;
            display: block;

            @media only screen and (max-width:1199px){
                height: 10px;
                margin: 17px 0 20px 0;
            }

            @media only screen and (max-width:991px){
                height: 6px;
                margin: 15px auto;
            }
        }

        h2{
            font-family: $roboto-bold;
            font-size: 20px;
            color: #fff;
            text-transform: capitalize;

            @media only screen and (max-width:991px){
                font-size: 18px;
            }
        }

        .meta-date{
            color: #fff;
            font-family: $roboto-bold;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    &__image{
        height: 100%;
        padding-left: 100px;

        @media only screen and (max-width:991px){
            order: 1;
            text-align: center;
            padding-left: 15px;
        }

        img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;

            @media only screen and (max-width:450px){
                width: 350px;
                height: 350px;
            }
    
            @media only screen and (max-width:380px){
                width: 310px;
                height: 310px;
            }
        }
    }
}