.btn {
    &--primary {
        min-width: 180px;
        background: $color-primary;
        border: 1px solid $color-white;
        color: $color-white;
        padding: 8px 44px;
        // font-family: $font-primary;
        font-weight: normal;
        border-radius: 40px;
        font-size: 16px;
        text-align: center;
        @include transition(.5s);
        text-decoration: none !important;
        @media (max-width:991px) {
            min-width: 120px;
            font-size: 14px;
            padding: 8px 25px;
        }
        &:hover {
            color: $color-primary;
            border: 1px solid $color-primary;
            background: $color-white;
        }   
    }

    &--call-btn{
        color: #383434;
        font-size: 20px;
        font-family: $roboto-bold;
        background: #ffda00;
        padding: 20px 35px;
        font-weight: 700;
        border: none;
        border-radius: 0;
    }

    &--yellow{
        color: #383434;
        font-size: 20px;
        font-family: $sourcesans-semibold;
        background: #ffda00;
        border:1px solid #ffda00 !important;
        padding: 12px 50px 12px 50px;
        font-weight: 700;
        border: none;
        border-radius: 50px;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none;
        width: 350px;
        transition: .3s all ease-in-out;

        @media (max-width:991px){
            width: 310px;
        }

        @media (max-width:414px){
            width: auto;
            font-size: 18px;
            padding: 12px 30px 12px 30px;
        }

        img{
            margin-top: 7px;
            float: right;

            @media (max-width:414px){
                margin-left: 10px;
                margin-top: 8px;
                width: 25px;
            }
        }

        &:hover{
            box-shadow: inset -8.5em 0 0 0 #fff, inset 9.5em 0 0 0 #fff;
            transition: .3s all ease-in-out;

            // background: #fff;
            color: #383434;
            text-decoration: none;
        }
    }
}