.footer{
    background: #fff;
    padding: 80px 0;

    &__logo{
        @media only screen and (max-width:991px){
            text-align: center;
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            color:#292929;
            text-decoration: none;
            margin-top: 50px;
        }
    }

    &__navigation{
        padding-left: 100px;

        @media only screen and (max-width:1199px){
            padding-left: 50px;
        }

        @media only screen and (max-width:991px){
            padding-left: 15px;
            width: 50%;
            text-align: center;
        }

        @media only screen and (max-width:580px){
            width: 100%;
        }
        
        h4{
            font-size: 25px;
            text-transform: uppercase;
            font-family: $sourcesans-semibold;
            color: #383434;
            margin-bottom: 40px;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                margin-bottom: 20px;

                a{
                    font-family: $roboto-light;
                    font-size: 20px;
                    color:#292929;
                    text-decoration: none;

                    &:hover{
                        color: #ffda00;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__contact-info{
        @media only screen and (max-width:991px){
            width: 50%;
            text-align: center;
        }

        @media only screen and (max-width:580px){
            width: 100%;
        }

        h4{
            font-size: 25px;
            text-transform: uppercase;
            font-family: $sourcesans-semibold;
            color: #383434;
            margin-bottom: 40px;
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            color:#292929;
            text-decoration: none;

            a{
                font-family: $roboto-light;
                font-size: 20px;
                color:#292929;
                text-decoration: none;

                &:hover{
                    color: #ffda00;
                    text-decoration: none;
                }
            }
        }

    }

    &__social-media{
        @media only screen and (max-width:991px){
            text-align: center;
        }

        h4{
            font-size: 25px;
            text-transform: uppercase;
            font-family: $sourcesans-semibold;
            color: #383434;
            margin-bottom: 40px;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                display: inline-block;
                margin-right: 10px;
                background: #383434;
                padding: 6px 13px;
                border-radius: 50px;

                a{
                    color: #fff;
                    font-size: 24px;
                }

                &:hover{
                    background: #ffda00;

                    a{
                        color: #292929;
                    }
                }
            }
        }
    }
}

.copyright{
    text-align: center;
    padding: 12px 0;
    background: #383434;

    p{
        color: #fff;
        font-size: 15px;
        font-family: $roboto-reg;
        margin-bottom: 0;

        a{
            text-decoration: none;
            color: #ffda00;

            &:hover{
                text-decoration: underline;
                color: #ffda00;
            }
        }
    }
}