h1 {
    // font-family: $font-primary;
    font-size: 50px;
}

h2 {
    font-weight: $weight-semibold;
    font-size: 35px;
    text-transform: uppercase;
}

h3 {
    // font-family: $font-primary;
    font-size: 26px;
    font-weight: $weight-bold;
}