// Control settings
$header-height:80px;
$header-scrolling-height:80px;
$header-background:transparent;
header {
    z-index: 99;
    position: relative;
    width: 100%;
    padding: 0;
    background: #383434;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;

    .row{
        align-items: center;
    }

    .logo{
        padding: 0 20px;
    }

    .header-menu{
        text-align: left;

        @media only screen and (max-width:1367px){
            flex: 0 0 45%;
            max-width: 45%;
        }

        @media only screen and (max-width:1122px){
            flex: 0 0 40%;
            max-width: 40%;
        }

        ul{
            padding: 0;
            margin: 0;
            list-style: none;

            li{
                display: inline-block;
                padding: 10px 20px;

                @media only screen and (max-width:1122px){
                    padding: 10px 14px;
                }

                a{
                    font-size: 20px;
                    color: #fff;
                    text-decoration: none;
                    font-family: $roboto-reg;

                    @media only screen and (max-width:1122px){
                        font-size: 18px;
                    }

                    &:hover{
                        color: #ffda00;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .header-right{
        text-align: right;
        padding-right: 0;

        @media only screen and (max-width:1367px){
            flex: 0 0 29%;
            max-width: 29%;
        }

        @media only screen and (max-width:1122px){
            flex: 0 0 34%;
            max-width: 34%;
        }

        .contact-btn{
            padding: 31px 35px;

            @media only screen and (max-width:1511px){
                padding: 25px 27px;
            }

            @media only screen and (max-width:1122px){
                font-size: 18px;
            }

            img{
                margin-right: 10px;
            }
        }

        .mail,
        .user{
            padding: 0 15px;
            display: inline-block;
            vertical-align: middle;

            @media only screen and (max-width:1511px){
                padding: 0 10px;
            }

            @media only screen and (max-width:1332px){
                padding: 0 6px;
            }

            a{
                color: #fff;
                font-size: 28px;
                text-decoration: none;

                @media only screen and (max-width:1122px){
                    font-size: 25px;
                }

                &:hover{
                    color: #ffda00;
                    text-decoration: none;
                }
            }
        }
    }

    &.scrolling {
        position: fixed !important;
        // height: $header-scrolling-height;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        -webkit-box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
        box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
        // @media only screen and (max-width:1055px) {
        //     height: 70px;
        // }
    }
    /* Medium devices (tablets, 768px and up) 
    The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            border-radius: 0;
        }
    }

    .main-nagivation-desktop {
        width: 100%;
        padding: 0 0 0 20px;

        .logo-link {
            .text-logo {
                display: inline-block;
                max-width: 274px;
                margin-left: 16px;
                margin-bottom: 20px;
            }
        }
        .menu {
            ul {
                li {
                    display: inline-block;
                    padding: 25px 20px;
                    @media (max-width:1200px) {
                        padding: 25px 10px;
                    }

                    &.dropdown { 
                        & > a {
                            position: relative;
                            &:after {
                                content: '\f078';
                                position: absolute;
                                top: 5px;
                                right: -13px;
                                font-family: "Font Awesome 5 Free";
                                font-weight: bold;
                                font-size: 8px;
                            }
                        }

                        div {
                            &.dropdown-menu {
                                ul {
                                    padding: 0;
                                    li {
                                        display: block;
                                        padding: 0 !important;
                                        a {
                                            &:hover {
                                                background-color: $color-white;
                                                color: $color-primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a {
                        font-size: 16px;
                        color: $color-white;
                        &.btn-contact {
                            color: #0e2c53;
                            background-color:   $color-white;
                            padding: 10px 20px;
                            border-radius: 20px;
                            box-shadow: 0px 0px 3px #2b2a2a;
                            @include transition(300ms);
                            &:hover {
                                background-color:#0d325c;
                                color: $color-white;
                                text-decoration: none;
                            }
                        }
                    }

                    &.dropdown {
                        .dropdown-menu {
                            background-color: $color-primary;
                            width: 260px;
                            left: 50%;
                            transform: translate(-50%, -1px);
                        }
                    }
                }
            }
        }
    }

    .main-navigation-mobile{
        .logo-link{
            .logo{
                position: relative;
                top: 0;
                left: 0;
                max-width: 260px;
                padding: 10px 20px;

                @media only screen and (max-width:430px){
                    max-width: 215px;
                    padding: 10px 5px;
                }
            }
        }

        .main-menu{
            background-color: #383434;

            .other{
                margin: 50px 0 0 0 !important;

                li{
                    display: inline-block !important;
                    border-bottom: none;

                    .mail,
                    .user{
                        font-size: 30px;

                        i{
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
