body {
    overflow-x: hidden;
}

a {
    color: inherit;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        color: inherit;
    }
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 0;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.relative {
    position: relative;
}

strong {
    &.heading {
        position: absolute;
        top: 86px;
        left: -105px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #b2b2b2;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        letter-spacing: 5px;
        @media(max-width: 1440px) {
            left: -85px;
        }
        @media(max-width: 1380px) {
            left: -60px;
        }
        @media(max-width:1366px) {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            writing-mode: initial;
            text-orientation: initial;
            font-size: 20px;
            margin-bottom: 10px;
        }
        @media(max-width:991px) {
            font-size: 18px;
        }
    }
}

.get-in-touch{
    background: #383434;
    padding: 70px 30px 70px 0;
    border-top-right-radius: 175px;
    border-bottom-right-radius: 175px;
    margin-top: 100px;
    position: relative;

    @media only screen and (max-width:991px){
        padding: 50px 30px 30px 0;
    }

    @media only screen and (max-width:768px){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 50px 30px 30px;
    }

    @media only screen and (max-width:480px){
        padding: 70px 20px 50px;
    }

    &:before{
        content:"";
        background: #383434;
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -450px;

        @media only screen and (max-width:768px){
            display: none;
        }
    }

    .row{
        align-items: center;
    }

    &__content{
        @media only screen and (max-width:991px){
            text-align: center;
            margin-bottom: 20px;
        }

        h3{
            color: #fff;
            font-family: $sourcesans-semibold;
            font-size: 60px;
            text-align: left;
            margin-bottom: 30px;

            @media only screen and (max-width:991px){
                margin-bottom: 10px;
                text-align: center;
            }

            @media only screen and (max-width: 480px){
                font-size: 42px;
            }
        }

        p{
            color: #fff;
            font-family: $roboto-light;
            font-size: 20px;

            @media only screen and (max-width: 480px){
                font-size: 16px;
            }
        }
    }

    &__buttons{
        text-align: center;

        .btn--yellow{
            width: 280px;
            margin-bottom: 10px;
            text-align: center;

            @media only screen and (max-width: 480px){
                width: auto;
                font-size: 18px;
                padding: 9px 50px 9px 50px;
            }
        }
    }

    &__social-media{
        text-align: center;

        @media only screen and (max-width:991px){
            margin-top: 20px;
        }

        @media only screen and (max-width: 480px){
            margin-top: 7px;
        }

        ul{
            list-style: none;

            @media only screen and (max-width:991px){
                padding: 0;
                margin: 0;
            }

            li{
                margin: 0 auto 10px;
                background: #fff;
                padding: 6px 13px;
                border-radius: 50px;
                width: fit-content;

                @media only screen and (max-width:991px){
                    display: inline-block;
                    margin: 0 8px 10px;
                }

                a{
                    color: #383434;
                    font-size: 24px;
                }

                &:hover{
                    background: #FFDA00;
                }
            }
        }
    }
}

.join-team{
    background-image: url('../../public/images/join-team.jpg');
    background-position: left center;
    background-size: inherit;
    background-repeat: no-repeat;

    @media only screen and (max-width:991px){
        text-align: center;
        background-position: center center;
    }

    &__details{
        padding: 100px 100px 100px 120px;
        background: #383434;
        border-top-left-radius: 245px;
        border-bottom-left-radius: 245px;
        position: relative;
        z-index: 9999999;

        @media only screen and (max-width:1199px){
            padding: 100px 20px 100px 55px;
        }

        @media only screen and (max-width:991px){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: rgba($color: #383434, $alpha: .5);
            padding: 100px 20px;
        }

        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: -250px;
            background: #383434;
            width: 500px;
            height: 100%;
            z-index: -1;

            @media only screen and (max-width:991px){
                display: none;
            }
        }

        h3{
            font-family: $sourcesans-semibold;
            font-size: 60px;
            color: #fff;
            margin-bottom: 30px;

            @media only screen and (max-width:1199px){
                line-height: 60px;
            }
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            color: #fff;
            margin-bottom: 40px;
        }

        a{
            text-align: center;
        }
    }
}