@mixin border-radius($value:5px) {
  -webkit-border-radius: $value;
  border-radius: $value;
  -moz-border-radius: $value;
}

@mixin transition($a:0.3s) {
  -webkit-transition: all $a ease;
  -moz-transition: all $a ease;
  -ms-transition: all $a ease;
  -o-transition: all $a ease;
  transition: all $a ease;
}


/* MOBILE HEADER */
.main-navigation-mobile {
  display: none;
  width: 100%;
}

@media only screen and (max-width:1055px) {
  .main-nagivation-desktop {
      display: none;
  }
    .main-navigation-mobile {
        display: block;
    }
}

.main-navigation-mobile {
    .logo-link {
        .logo {
            position: absolute;
            top: -10px;
            left: 20px;
            display: inline-block;
            max-width: 100px;
            height: auto;
            @media (max-width:500px) {
                max-width: 80px;
            }

            @media (max-width:380px) {
                max-width: 70px;
            }
        }

        .text-logo {
            display: inline-block;
            height: auto;
            max-width: 250px;
            margin: 0 0 0 120px;
            @media (max-width:500px) {
                margin: 0 0 0 90px;
            }

            @media (max-width:500px) {
                max-width: 200px;
            }

            @media (max-width:380px) {
                max-width: 180px;
                margin: 0 0 0 80px;
            }
        }
    }

  .hamburger {
      z-index: 15;
      position: relative;
      top: 0;
      display: inline-block;
      width: 28px;
      height: 21px;
      margin: -5px 0;
      cursor: pointer;
      div {
        z-index: 12;
        position: relative;
        margin-top: 9px;
      }
  }

  .main-menu {
        z-index: 12;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: #0e2e55;
        text-align: left;
        padding: 80px 30px 70px;
        -webkit-transform: translate(300px, 0);
        transform: translate(300px, 0);
        transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
        transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
        transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
        overflow: auto;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: block !important;
                padding-bottom: 11px !important;
                margin-bottom: 13px;
                border-bottom: 1px solid #ffffff4a;
                &.has-dropdown {
                  a.has-collapse {
                    position: relative;
                    &:after {
                      content: "\F078";
                      position: absolute;
                      top: 3px;
                      right: 0;
                      font-family: "Font Awesome 5 Free";
                      font-weight: bold;
                      font-size: 14px;
                    }
                  }
                  .sub-dropdown-menu  {
                      ul {
                        li {
                          margin-bottom: 0;
                          padding: 2px 0 !important;
                          &:last-child {
                            border-bottom: none;
                            margin-bottom: -10px;
                            // padding-bottom: 0 !important;
                          }
                          
                        }
                      }
                  }
                }
                a {
                    display: block;
                    color: $color-white;
                    @media (max-width:380px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.nav-open .main-menu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  box-shadow: 8px 79px 60px 0px rgb(22 22 22 / 17%);
}

.main-navigation-mobile .hamburger div,
.main-navigation-mobile .hamburger div:before,
.main-navigation-mobile .hamburger div:after {
  display: block;
  width: 100%;
  height: 2px;
  background-color:#ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.main-navigation-mobile .hamburger div:before,
.main-navigation-mobile .hamburger div:after {
  content: "";
  position: absolute;
  left: 0;
}
.main-navigation-mobile .hamburger div:before {
  top: -8px;
}
.main-navigation-mobile .hamburger div:after {
  bottom: -8px;
}

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17);
}

.nav-open .hamburger div,
.nav-open .main-header.fixed .hamburger div {
  background-color: transparent;
}

.nav-open .hamburger div:after {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open .hamburger div:before {
  top: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}