.banner{
    height: 100vh;
    min-height: calc(100%);
    position: relative;

    @media only screen and (max-width:1260px){
        height: 80vh;
    }

    @media only screen and (max-width:1060px){
        height: 70vh;   
    }

    @media only screen and (max-width: 991px){
        height: auto;   
    }

    .row{
        align-items: center;
        height: 100%;
    }

    &__content{
        text-align: left;
        padding-left: 150px;
        padding-right: 30px;

        @media only screen and (max-width:1600px){
            flex: 0 0 46.666667%;
            max-width: 45.666667%;
        }

        @media only screen and (max-width:1450px){
            padding-left: 70px;
        }

        @media only screen and (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-left: 30px;
            padding-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }

        h1{
            font-family: $roboto-bold;
            font-size: 20px;
            text-transform: capitalize;
            color: #383434;

            @media only screen and (max-width:1160px){
                font-size: 18px;
            }
        }

        h2{
            font-family: $sourcesans-semibold;
            font-size: 80px;
            color: #383434;
            margin-bottom: 50px;
            text-transform: capitalize;
            line-height: 80px;

            @media only screen and (max-width:1600px){
                font-size: 66px;
                line-height: 71px;
            }

            @media only screen and (max-width:1260px){
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 30px;
            }

            @media only screen and (max-width:1160px){
                font-size: 54px;
                line-height: 54px;
                margin-bottom: 20px;
            }

            @media only screen and (max-width:1060px){
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 20px;
            }

            @media only screen and (max-width:414px){
                font-size: 45px;
                line-height: 45px;
            }
        }

        p{
            font-family: $roboto-light;
            font-size: 20px;
            margin-bottom: 50px;
            color: #383434;

            @media only screen and (max-width:1160px){
                font-size: 18px;
                margin-bottom: 40px;
            }

            @media only screen and (max-width:1060px){
                font-size: 16px;
                margin-bottom: 30px; 
            }
        }
    }

    &__image{
        height: 100%;
        padding-right: 0;

        @media only screen and (max-width:1600px){
            flex: 0 0 54.333333%;
            max-width: 54.333333%;
        }

        @media only screen and (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            @media only screen and (max-width: 991px){
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                object-position: center;
            }
        }
    }
}