section {
    &.page{
        &--about-us{
            .mission{
                padding: 80px 0;
                position: relative;
                background-image: url('../../public/images/about-mission-bg.jpg');
                background-repeat: no-repeat;
                background-color: #fbf8f8;
                background-position: top right;
                background-size: contain;

                @media only screen and (max-width: 1199px){
                    background-size: auto;
                }
    
                h3{
                    font-family: $roboto-light;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 300;
                    margin-bottom: 30px;
                    line-height: 1.5;
                }
    
                h4{
                    font-size: 40px;
                    color: #fff;
                    font-family: $sourcesans-semibold;
                    text-align: center;
                    font-weight: 600;
                    padding: 0 20px;

                    @media only screen and (max-width:991px){
                        font-size: 30px;
                    }

                    @media only screen and (max-width: 480px){
                        font-size: 27px;
                        padding: 0 10px;
                    }
                }

                &__video{
                    position: relative;
                    margin-top: 50px;
                    text-align: center;
                    width: 100%;

                    @media only screen and (max-width: 1400px){
                        width: 90%;
                        margin: 50px auto 0;
                    }

                    img{
                        border-radius: 10px;
                    }

                    &--play-btn{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);

                        a{
                            i{
                                color: #383434;
                                background: #ffda00;
                                padding: 20px 22px;
                                border-radius: 50%;
                                font-size: 23px;
                                box-shadow: 0px 0px 7px 0px #6e6e6e;
                            }

                            &:hover{
                                i{
                                    opacity: .8;
                                }
                            }
                        } 
                    }
                }
            }

            .technologies{
                padding: 50px 0 150px 0;
                position: relative;
                background-color: #fbf8f8;

                @media only screen and (max-width:1330px){
                    padding: 50px 0;
                }

                @media only screen and (max-width: 1199px){
                    padding: 10px 0 150px 0;
                }

                @media only screen and (max-width: 767px){
                    padding: 50px 0 150px 0;
                }

                &:before{
                    content:"";
                    background-image: url('../../public/images/technologies-bg.png');
                    background-position: bottom left;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 800px;
                    height: 800px;

                    @media only screen and (max-width:1525px){
                        width: 710px;
                        height: 660px;
                    }

                    @media only screen and (max-width: 1199px){
                        width: 670px;
                        height: 540px;
                        opacity: .5;
                    }
                }

                &__empty{
                    @media only screen and (max-width:1199px){
                        display: none;
                    }
                }

                &__content{
                    @media only screen and (max-width:1330px){
                        padding-left: 100px;
                    }
                    
                    @media only screen and (max-width:1199px){
                        padding-left: 50px;
                        width: 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }

                    @media only screen and (max-width: 767px){
                        padding-left: 15px;
                    }

                    h3{
                        font-family: $sourcesans-semibold;
                        font-size: 60px;
                        color: #292929;

                        @media only screen and (max-width: 480px){
                            font-size: 42px;
                        }
                    }

                    p{
                        font-family: $roboto-light;
                        font-size: 20px;
                        color: #292929;
                        margin-bottom: 40px;

                        @media only screen and (max-width: 480px){
                            font-size: 16px;
                        }
                    }
                }
            }

            .hands-on-services{
                padding: 80px 0;
                position: relative;
                background-size: 500px;
                background-image: url('../../public/images/logo-overlay-blue.png');
                background-position: 104% 50%;
                background-repeat: no-repeat;

                .row{
                    align-items: center;
                }

                &__content{
                    @media only screen and (max-width:991px){
                        text-align: center;
                        margin-bottom: 50px;
                    }

                    h3{
                        font-family: $sourcesans-semibold;
                        font-size: 60px;
                        color: #292929;
                        margin-bottom: 40px;

                        @media only screen and (max-width:991px){
                            font-size: 50px;
                            margin-bottom: 30px;
                        }

                        @media only screen and (max-width: 414px){
                            font-size: 35px;
                            margin-bottom: 20px;
                        }
                    }

                    p{
                        font-family: $roboto-light;
                        font-size: 20px;
                        color: #292929;
                        margin-bottom: 40px;

                        @media only screen and (max-width: 414px){
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                    }
                }

                &__image{
                    img{
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}