.page {
    &--careers {
        .careers{
            position: relative;

            &__listing{
                padding: 80px 50px 80px 20px;
                position: relative;
                background: #fbf8f8;

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -450px;
                    background: #fbf8f8;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                h3{
                    font-size: 60px;
                    font-family: $sourcesans-semibold;
                    color: #292929;
                    margin-bottom: 50px;

                    @media only screen and (max-width: 480px){
                        font-size: 45px;
                        margin-bottom: 40px;
                    }
                }

                .card{
                    background: none;
                    border-top: 1px solid #292929;
                    border-radius: 0;

                    &:last-child{
                        border-bottom: 1px solid #292929;
                    }

                    .job-title{
                        text-align: left;

                        h4{
                            font-size: 30px;
                            font-family: $sourcesans-semibold;
                            color: #292929;
                            margin-bottom: 0;

                            @media only screen and (max-width: 767px){
                                font-size: 22px;
                            }

                            @media only screen and (max-width: 414px){
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }

                        h5{
                            color: #292929;
                            font-family: $roboto-light;
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }

                    .card-body{
                        h4{
                            text-transform: uppercase;
                            font-size: 20px;
                            font-family: $sourcesans-semibold;
                            color: #292929;
                        }
                        
                        p,
                        ul,
                        ol{
                            color: #292929;
                            font-family: $roboto-light;
                            font-size: 20px;
                            margin-bottom: 40px;

                            @media only screen and (max-width: 767px){
                                font-size: 16px;
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }

            &__ads{
                background: #383434;
                padding: 100px 20px 80px 50px;
                position: relative;

                @media only screen and (max-width: 991px){
                    padding: 100px 50px 80px 50px;
                }

                @media only screen and (max-width: 480px){
                    padding: 60px 30px 60px 30px;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -500px;
                    background: #383434;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                h3{
                    font-size: 60px;
                    font-family: $sourcesans-semibold;
                    color: #fff;
                    margin-bottom: 50px;

                    @media only screen and (max-width: 480px){
                        font-size: 50px;
                        margin-bottom: 35px;
                    }
                }

                p{
                    color: #fff;
                    font-family: $roboto-light;
                    font-size: 20px;
                    margin-bottom: 40px;

                    @media only screen and (max-width: 414px){
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }

                .btn--yellow{
                    text-align: center;

                    @media only screen and (max-width: 1280px){
                        width: 100%;
                    }

                    @media only screen and (max-width: 991px){
                        width: 310px;
                    }

                    @media only screen and (max-width:414px){
                        width: auto;
                        font-size: 18px;
                        padding: 12px 30px 12px 30px;
                    }
                }
            }
        }

        .culture{
            padding: 80px 0;
            position: relative;
            background: #fbf8f8;

            h3{
                font-size: 60px;
                font-family: $sourcesans-semibold;
                color: #292929;
            }

            &__slider{
                z-index: 12;
                margin-left: 8%;
                margin-top: 50px;

                .slick-list{
                    padding: 0 200px 0 0;

                    .slick-slide{
                        margin-right: 50px;
                    }
                }

                &--item{
                    position: relative;
                }
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 20px 0 0 0;
                display: flex;
                justify-content: center;
                align-items: end;

                li{
                    padding-right: 20px;

                    i{
                        font-size: 20px;
                        color: #000;
                    }

                    .slidercount{
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}