section {
    &.page{
        &--contact{
            .contact{
                padding: 80px 0;
                position: relative;
                background: #fbf8f8;

                &__details{
                    h3{
                        font-size: 40px;
                        font-family: $sourcesans-semibold;
                        color: #292929;
                        margin-bottom: 40px;

                        @media only screen and (max-width: 991px){
                            order: 2;
                        }

                        @media only screen and (max-width: 414px){
                            font-size: 35px;
                            margin-bottom: 20px;
                        }
                    }

                    p{
                        font-family: $roboto-light;
                        font-size: 20px;

                        @media only screen and (max-width: 414px){
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                    }

                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 30px 0 0 0;

                        li{
                            margin-bottom: 20px;

                            span{
                                display: inline-block;
                                vertical-align: top;
                                margin-right: 40px;

                                @media only screen and (max-width:1365px){
                                    margin-right: 18px;
                                }

                                @media only screen and (max-width:1130px){
                                    margin-right: 0;
                                }

                                &.icon{
                                    img{
                                        @media only screen and (max-width:1235px){
                                            width: 30px;
                                            height: 30px;
                                            object-fit: contain;
                                        }
                                    } 
                                }

                                &.contact-label{
                                    font-family: $roboto-light;
                                    font-size: 20px;

                                    @media only screen and (max-width:1235px){
                                        font-size: 18px;
                                    }
                                }

                                &.contact-details{
                                    @media only screen and (max-width:1130px){
                                        display: block;
                                        width: 100%;
                                    }

                                    p{
                                        font-family: $roboto-light;
                                        font-size: 20px;
                                        margin-bottom: 0;

                                        @media only screen and (max-width:1235px){
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &__form{
                    background: #383434;
                    padding: 50px;
                    text-align: center;
                    border-radius: 10px;

                    @media only screen and (max-width: 1350px){
                        padding: 50px 10px;
                    }

                    @media only screen and (max-width:991px){
                        margin-top: 0px;
                        margin-bottom: 50px;
                    }

                    h3{
                        color: #fff;
                        text-align: center;
                        font-family: $sourcesans-semibold;
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                    .input-group{
                        margin-bottom: 20px;

                        @media only screen and (max-width:1570px){
                            width: 93%;
                            margin: 0 auto 20px;
                        }

                        @media only screen and (max-width:1100px){
                            width: 100%;
                        }

                        &.half{
                            display: inline-block;
                            width: 48%;
                            margin-left: 23px;

                            @media only screen and (max-width:1570px){
                                width: 45%;
                            }

                            @media only screen and (max-width:1100px){
                                width: 100%;
                                margin-left: 0;
                            }

                            @media only screen and (max-width:991px){
                                width: 48%;
                                margin-left: 23px;
                            }

                            @media only screen and (max-width:703px){
                                width: 47%;
                            }

                            @media only screen and (max-width:480px){
                                width: 100%;
                                margin-left: 0;
                            }

                            &:nth-child(even){
                                margin-left: 0;
                            }
                        }

                        input[type="text"],
                        input[type="tel"],
                        input[type="email"],
                        textarea{
                            width: 100%;
                            padding: 20px 40px;
                            height: auto;
                            border-radius: 40px;

                            &:hover,
                            &:active,
                            &:focus{
                                outline: none;
                                box-shadow: 0px 0px 8px 1px #ffda00;
                            }
                        }

                        ::placeholder{
                            color: #292929;
                            font-family: $roboto-light;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}