.homepage{
    .energy-vitals{
        padding: 70px 0;
        background: #383434;
        position: relative;

        @media only screen and (max-width: 1400px){
            padding: 50px 0;
        }

        &:before{
            content:"";
            position:absolute;
            top: 0;
            left: 0;
            width: 750px;
            height: 700px;
            background-size: 100%;
            background-image: url('../../public/images/energy-vitals.png');
            background-position: -50px 0;
            background-repeat: no-repeat;
            z-index:2;

            @media only screen and (max-width: 1400px){
                width: 685px;
                height: 510px;
            }

            @media only screen and (max-width: 767px){
                width: 100%;
                background-size: contain;
            }
        }

        &:after{
            content: "";
            background: #fff;
            width: 190px;
            height: 190px;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 1;

            @media only screen and (max-width: 767px){
                display: none;
            }
        }

        &__empty{
            position: relative;

            @media only screen and (max-width: 1340px){
                flex: 0 0 44%;
                max-width: 44%;
            }

            @media only screen and (max-width: 1250px){
                flex: 0 0 36%;
                max-width: 36%;
            }

            @media only screen and (max-width: 1080px){
                display: none;
            }


            &:after{
                content:"";
                position: absolute;
                bottom: -115px;
                left: 291px;
                width: 380px;
                height: 380px;
                background-size: contain;
                background-image: url('../../public/images/logo-overlay.png');
                background-position: 100%;
                background-repeat: no-repeat;
                z-index: 9999;

                @media only screen and (max-width: 1400px){
                    bottom: -85px;
                    left: 400px;
                    width: 307px;
                    height: 321px;
                }
            }
        }

        &__content{
            @media only screen and (max-width: 1340px){
                flex: 0 0 54%;
                max-width: 54%;
                z-index: 999;
            }

            @media only screen and (max-width: 1250px){
                flex: 0 0 62%;
                max-width: 62%;
            }

            @media only screen and (max-width: 1080px){
                flex: 0 0 100%;
                max-width: 100%;
            }

            h3{
                font-size: 40px;
                color: #fff;
                font-family: $sourcesans-semibold;
                margin-bottom: 50px;

                @media only screen and (max-width: 414px){
                    font-size: 35px;
                    margin-bottom: 20px;
                }
            }
    
            p{
                font-family: $roboto-light;
                font-size: 20px;
                color: #fff;
                margin-bottom: 60px;

                @media only screen and (max-width: 414px){
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .quality-engineers{
        padding: 150px 0;
        background: transparent;
        position: relative;

        @media only screen and (max-width:1280px){
            padding: 80px 0;
        }

        @media only screen and (max-width:991px){
            padding: 150px 0;
        }

        @media only screen and (max-width:600px){
            padding: 75px 0;
        }

        &:before{
            content:"";
            position:absolute;
            bottom: 0;
            right: 0;
            width: 800px;
            height: 700px;
            background-size: contain;
            background-image: url('../../public/images/quality-eng.png');
            background-position: 100px 100%;
            background-repeat: no-repeat;

            @media only screen and (max-width:1280px){
                width: 715px;
            }

            @media only screen and (max-width:1100px){
                width: 650px;
                height: 550px;
            }

            @media only screen and (max-width: 991px){
                opacity: .5;
            }
        }

        &__empty{
            position: relative;
        }

        &__content{
            h3{
                font-size: 40px;
                color: #292929;
                font-family: $sourcesans-semibold;
                margin-bottom: 50px;

                @media only screen and (max-width: 414px){
                    font-size: 35px;
                    margin-bottom: 20px;
                }
            }
    
            p{
                font-family: $roboto-light;
                font-size: 20px;
                color: #292929;
                margin-bottom: 60px;

                @media only screen and (max-width: 414px){
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }  
        }
    }

    .what-we-offer{
        padding: 80px 0;
        text-align: center;
        position: relative;
        background-size: cover;
        background-image: url('../../public/images/what-we-offer-bg.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;

        &:before{
            content: '';
            width: 100%;
            height: 100%;
            background: #3a3a3a;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .5;
        }
        
        h3{
            color: #fff;
            font-size: 60px;
            font-family: $sourcesans-semibold;

            @media only screen and (max-width: 480px){
                font-size: 42px;
            }
        }

        p{
            margin: 30px auto;
            color: #fff;
            font-family: $roboto-light;
            font-size: 20px;
            width: 800px;

            @media only screen and (max-width: 991px){
                width: 100%;
            }

            @media only screen and (max-width: 480px){
                font-size: 16px;
            }
        }

        .what-we-offer__slider {
            .slick-list {
                padding: 0 !important;
                
                .slick-slide {
                    transform:scale(.7);
                    transition: all 300ms ease-in-out;

                    .text-content {
                        display: none;
                    }

                    &.slick-active {
                        &.slick-current {
                            transform: scale(1);

                            .text-content {
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                background-color: #fff;
                                padding: 75px;

                                @media only screen and (max-width: 1500px){
                                    padding: 60px;
                                }

                                @media only screen and (max-width: 1350px){
                                    padding: 52px 45px 45px;
                                }

                                @media only screen and (max-width: 390px){
                                    padding: 50px 20px 45px;
                                }

                                h4 {
                                    position: relative;
                                    font-family: $sourcesans-semibold;
                                    font-size: 40px;
                                    line-height: 40px;
                                    margin-bottom: 60px;

                                    @media only screen and (max-width: 1500px){
                                        font-size: 32px;
                                        line-height: 32px;
                                        margin-bottom: 55px;
                                    }

                                    @media only screen and (max-width: 390px){
                                        font-size: 24px;
                                        line-height: 24px;
                                        margin-bottom: 35px;
                                    }

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        left: 50%;
                                        bottom: -35px;
                                        width: 80px;
                                        height: 10px;
                                        background-color: #feda00;
                                        transform: translate(-50%,0);

                                        @media only screen and (max-width: 390px){
                                            left: 50%;
                                            bottom: -25px;
                                            width: 80px;
                                            height: 6px;
                                        }
                                    }
                                }

                                p {
                                    font-family: $roboto-light;
                                    font-size: 20px;
                                    width: auto;
                                    text-align: center;
                                    color: #000;

                                    @media only screen and (max-width: 1500px){
                                        font-size: 18px;
                                    }

                                    @media only screen and (max-width: 1350px){
                                        font-size: 16px;
                                    }

                                    @media only screen and (max-width: 390px){
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    
                    .what-we-offer__slide-item {
                        .image {
                            position: relative;
                            border-radius: 50%;
                            overflow: hidden;
                            height: 480px;
                            width: 480px;
                            margin: auto;

                            @media only screen and (max-width: 1500px){
                                height: 410px;
                                width: 410px;
                            }

                            @media only screen and (max-width: 1350px){
                                height: 375px;
                                width: 375px;
                            }

                            @media only screen and (max-width: 500px){
                                height: 350px;
                                width: 350px;
                            }

                            @media only screen and (max-width: 390px){
                                height: 300px;
                                width: 300px;
                            }

                            img {
                                height: 480px;
                                object-fit: cover;

                                @media only screen and (max-width: 1500px){
                                    height: 410px;
                                }

                                @media only screen and (max-width: 1350px){
                                    height: 375px;
                                }

                                @media only screen and (max-width: 500px){
                                    height: 350px;
                                }

                                @media only screen and (max-width: 390px){
                                    height: 300px;
                                }
                            }
                        }
                    }
                }
            }
            .slick-prev, .slick-next {
                width: 70px;
                height: 70px;
                background-color: rgba($color: #000000, $alpha: .5);
                border-radius: 50%;

                @media only screen and (max-width: 1350px){
                    width: 50px;
                    height: 50px;
                }

                @media only screen and (max-width: 600px){
                    width: 40px;
                    height: 40px;
                }

                &:before {
                    font-family: 'Font Awesome 5 Free';
                    font-size: 23px;
                    font-weight: bold;

                    @media only screen and (max-width: 600px){
                        font-size: 23px;
                    }
                }
            }

            .slick-prev {
                left: -50px;
                
                @media only screen and (max-width: 1700px){
                    left: 0;
                }

                &:before {
                    content: '\f053';
                }
            }

            .slick-next {
                right: -50px;

                @media only screen and (max-width: 1700px){
                    right: 0;
                }

                &:before {
                    content: '\f054';
                }
            }

            .slick-dots{
                @media only screen and (max-width: 500px){
                    position: relative;
                    bottom: auto;
                    margin: 20px auto 0;
                }

                li{
                    height: 7px;
                    width: 20px;
                    background-color: #fff;
                    opacity: .7;
                    border-radius: 10px;
                    &.slick-active {
                        width: 30px;
                        opacity: 1;
                    }
                    button {
                        &::before {
                            content: initial;
                        }
                    }
                }
            }
            
        }
    }

    .why-choose-us{
        padding: 80px 0;
        position: relative;

        h3{
            color: #292929;
            font-size: 60px;
            font-family: $sourcesans-semibold;

            @media only screen and (max-width: 480px){
                font-size: 42px;
            }
        }

        p{
            margin: 30px auto 30px 0;
            color: #292929;
            font-family: $roboto-light;
            font-size: 20px;
            width: 800px;
            display: block;

            @media only screen and (max-width:991px){
                width: 100%;
            }

            @media only screen and (max-width: 480px){
                font-size: 16px;
            }
        }

        &__item{
            background: #383434;
            padding: 25px;
            border-radius: 8px;
            height: 285px;
            vertical-align: middle;
            line-height: 100px;
            margin-top: 30px;

            @media only screen and (max-width:991px){
                height: auto;
            }

            &:hover{
                background: #6a6262;
                transition: .3s all ease-in-out;

                .why-choose-us__item--front{
                    display: none;
                    transition: .3s all ease-in-out;
                }

                .why-choose-us__item--back{
                    display: block;
                    transition: .3s all ease-in-out;
                }
            }

            &--front{
                h4{
                    margin-top: 20px;
                    color: #fff;
                    font-size: 30px;
                    font-family: $sourcesans-semibold;

                    @media only screen and (max-width:1299px){
                        font-size: 25px;
                    }
                }
            }

            &--back{
                display: none;

                h4{
                    color: #fff;
                    font-size: 30px;
                    font-family: $sourcesans-semibold;

                    @media only screen and (max-width:1299px){
                        font-size: 25px;
                    }
                }

                p{
                    color: #fff;
                    font-family: $roboto-light;
                    font-size: 20px;
                    width: auto;
                    line-height: initial;

                    @media only screen and (max-width:1299px){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .latest-update{
        padding: 80px 0;
        position: relative;
        background-size: auto;
        background-image: url('../../public/images/logo-overlay-blue.png');
        background-position: 114% 50%;
        background-repeat: no-repeat;

        h3{
            color: #292929;
            font-family: $sourcesans-semibold;
            font-size: 40px;
            text-align: left;
        }

        &__item{
            margin:50px 0;

            .row{
                align-items: flex-start;
                height: 100%;
            }

            &--image{
                @media only screen and (max-width: 991px){
                    text-align: center;
                }

                img{
                    border-radius: 10px;
                    height: 530px;
                    object-fit: cover;
                    object-position: center;

                    @media only screen and (max-width: 1199px){
                        height: 480px;
                    }

                    @media only screen and (max-width: 991px){
                        height: auto;
                    }
                }
            }

            &--content{
                height: 100%;
                padding-top: 30px;
                max-height: 100%;
                position: relative;

                @media only screen and (max-width: 991px){
                    text-align: center;
                    margin-top: 30px;
                    height: auto;
                }

                h4{
                    margin-bottom: 30px;

                    a{
                        color: #292929;
                        font-size: 40px;
                        font-family: $sourcesans-semibold;
                        text-decoration: none;
                        transition: .3s all ease-in-out;

                        @media only screen and (max-width: 1199px){
                            font-size: 30px;
                        }

                        &:hover{
                            color: rgb(255,218,0);
                            text-decoration: none;
                            transition: .3s all ease-in-out;
                        }
                    }
                }
        
                p{
                    color: #292929;
                    font-family: $roboto-light;
                    font-size: 20px;

                    @media only screen and (max-width: 1199px){
                        font-size: 18px;
                    }

                    @media only screen and (max-width: 480px){
                        font-size: 16px;
                    }
                }

                .news-btn{
                    padding: 27px 18px;
                    background: #26262e;
                    border-radius: 100%;
                    line-height: 0;
                    position: absolute;
                    bottom: 0;
                    transition: .3s all ease-in-out;

                    @media only screen and (max-width: 991px){
                        margin-top: 30px;
                        position: relative;
                        display: inline-block;
                        padding: 22px 14px;
                    }

                    &:hover{
                        background-color: rgb(255,218,0);
                        transition: .3s all ease-in-out;
                    }
                }
            }
        }

        .btn--yellow{
            margin: 0 auto;
            display: block;
        }

        .get-in-touch{
            background: #383434;
            padding: 70px 30px 70px 0;
            border-top-right-radius: 175px;
            border-bottom-right-radius: 175px;
            margin-top: 100px;
            position: relative;

            @media only screen and (max-width:991px){
                padding: 50px 30px 30px 0;
            }

            @media only screen and (max-width:768px){
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 50px 30px 30px;
            }
        
            @media only screen and (max-width:480px){
                padding: 70px 20px 50px;
            }

            &:before{
                content:"";
                background: #383434;
                width: 90%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -450px;

                @media only screen and (max-width:768px){
                    display: none;
                }
            }

            .row{
                align-items: center;
            }

            &__content{
                @media only screen and (max-width:991px){
                    text-align: center;
                    margin-bottom: 20px;
                }

                h3{
                    color: #fff;
                    font-family: $sourcesans-semibold;
                    font-size: 60px;
                    text-align: left;
                    margin-bottom: 30px;

                    @media only screen and (max-width:991px){
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    @media only screen and (max-width: 480px){
                        font-size: 42px;
                    }
                }

                p{
                    color: #fff;
                    font-family: $roboto-light;
                    font-size: 20px;
                    margin-bottom: 0;

                    @media only screen and (max-width: 480px){
                        font-size: 16px;
                    }
                }
            }

            &__buttons{
                text-align: center;

                .btn--yellow{
                    width: 280px;
                    margin-bottom: 10px;
                    text-align: center;

                    @media only screen and (max-width: 480px){
                        width: auto;
                        font-size: 18px;
                        padding: 9px 50px 9px 50px;
                    }
                }
            }

            &__social-media{
                text-align: center;

                @media only screen and (max-width:991px){
                    margin-top: 20px;
                }

                @media only screen and (max-width: 480px){
                    margin-top: 7px;
                }

                ul{
                    list-style: none;

                    @media only screen and (max-width:991px){
                        padding: 0;
                        margin: 0;
                    }

                    li{
                        margin: 0 auto 10px;
                        background: #fff;
                        padding: 6px 13px;
                        border-radius: 50px;
                        width: fit-content;

                        @media only screen and (max-width:991px){
                            display: inline-block;
                            margin: 0 8px 10px;
                        }

                        a{
                            color: #383434;
                            font-size: 24px;
                        }

                        &:hover{
                            background: #FFDA00;
                        }
                    }
                }
            }
        }
    }
}