.page {
    &--news-overview{
        .featured-news{
            padding: 50px 0;
            position: relative;
            background: #fbf8f8;

            .row{
                align-items: center;
            }
            
            &__image{
                @media only screen and (max-width:991px){
                    text-align: center;
                    margin-bottom: 30px;
                }

                img{
                    border-radius: 10px;
                }
            }

            &__detail{
                padding-left: 100px;

                @media only screen and (max-width:1199px){
                    padding-left: 50px;
                }

                @media only screen and (max-width: 991px){
                    padding-left: 15px;
                }

                h3{
                    color: #363636;
                    font-family: $sourcesans-semibold;
                    font-size: 40px;

                    @media only screen and (max-width:1199px){
                        font-size: 30px;
                        line-height: 30px;
                    }
                }

                .meta-date{
                    color: #363636;
                    font-family: $sourcesans-semibold;
                    font-size: 21px;

                    @media only screen and (max-width:1199px){
                        font-size: 18px;
                    }
                }

                .line{
                    width: 90px;
                    height: 15px;
                    margin: 17px 0 27px 0;
                    background: #ffda00;
                    display: block;
                }

                p{
                    margin-bottom: 40px;
                    font-size: 20px;
                    font-family: $roboto-light;

                    @media only screen and (max-width:1199px){
                        font-size: 16px; 
                    }
                }
            }
        }

        .news-list{
            padding: 50px 0;
            position: relative;

            &__item{
                margin-bottom: 50px;

                &--image{
                    height: 335px;

                    img{
                        height: 100%;
                        width: 100%;
                        object-position: center;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
    
                &--detail{
                    padding: 20px 0;

                    h3{
                        font-size: 30px;
                        font-family: $sourcesans-semibold;

                        @media only screen and (max-width:1199px){
                            line-height: 30px;
                        }
                    }

                    .meta-date{
                        font-family: $roboto-light;
                        font-size: 20px;
                        color: #383434;

                        @media only screen and (max-width:1199px){
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .get-in-touch{
            margin-top: 0;
        }
    }

    &--news-details{
        .innerpage-banner-team{
            border-top: 1px solid #fff;
        }
        
        .news{
            padding: 80px 0;
            position: relative;
            background-size: 600px;
            background-image: url('../../public/images/logo-overlay-blue.png');
            background-position: 115% 84%;
            background-repeat: no-repeat;


            &__content{
                &--featured-image{
                    margin-bottom: 30px;

                    img{
                        width: 100%;
                        border-radius: 10px;
                        height: 500px;
                        object-fit: cover;
                        object-position: center;

                        @media only screen and (max-width:550px){
                            height: 100%;
                        }
                    }
                }

                &--content{
                    h3{
                        font-family: $sourcesans-semibold;
                        font-size: 40px;
                        color: #292929;
                        margin-bottom: 40px;
                    }
    
                    p,
                    ul,
                    ol{
                        font-size: 20px;
                        color: #292929;
                        font-family: $roboto-light;
                        margin-bottom: 40px;
                    }
                }
            }

            &__more-articles{
                @media only screen and (max-width:991px){
                    margin-top: 50px;
                }

                ul{
                    list-style: none;
                    padding: 0;
                    margin: 20px 0 0 0;

                    li{
                        display: flex;
                        margin-bottom: 15px;
                    }
                }

                &--image{
                    width: 100px;
                    height: 100px;

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &--details{
                    padding-left: 20px;
                    width: 80%;

                    .meta-date{
                        font-size: 20px;
                        font-family: $roboto-light;
                        color: #292929;

                        @media only screen and (max-width:1199px){
                            font-size: 18px;
                        }
                    }

                    h5{
                        font-family: $sourcesans-semibold;
                        font-size: 30px;
                        color: #292929;

                        @media only screen and (max-width:1199px){
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

