.page {
    &--team {
        .team{
            padding: 80px 0;
            background: #fbf8f8;
            position: relative;

            &__item{
                margin-bottom: 30px;

                &--image{
                    text-align: center;
                    margin-bottom: 15px;

                    img{
                        border-radius: 100%;
                        width: 400px;
                        height: 400px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &--details{
                    text-align: center;

                    h3{
                        // margin-bottom: 0;

                        a{
                            color: #292929;
                            font-size: 40px;
                            font-family: $sourcesans-semibold;

                            &:hover{
                                color: #ffda00;
                                text-decoration: none;
                            }
                        }
                    }

                    h4{
                        font-family: $roboto-light;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &--team-detail{
        .bio{
            padding: 80px 0;
            position: relative;
            margin: 0 auto;
            width: 1000px;

            @media only screen and (max-width: 1024px){
                width: 100%;
                padding: 80px 15px;
            }

            h3{
                font-family: $sourcesans-semibold;
                font-size: 60px;
                color: #292929;
                margin-bottom: 30px;
                width: 100%;
            }

            p{
                margin-bottom: 40px;
                font-size: 20px;
                font-family: $roboto-light;

                @media only screen and (max-width:1199px){
                    font-size: 16px; 
                }
            }
        }

        .navigation{
            position: relative;
            padding: 80px 0 30px 0;

            @media only screen and (max-width: 991px){
                padding: 30px 0 30px 0;
                background: #fbf8f8;
            }

            &:after{
                content:"";
                background: #fbf8f8;
                width: 100%;
                height: 207px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }

            &__prev{
                text-align: left;

                @media only screen and (max-width: 991px){
                    text-align: center;
                    margin-bottom: 30px;
                }

                &--image{
                    display: inline-block;
                    vertical-align: top;
                    width: 250px;

                    @media only screen and (max-width: 991px){
                        vertical-align: middle;
                    }

                    img{
                        border-radius: 100%;
                        width: 220px;
                        height: 220px;
                        object-fit: cover;
                        object-position: center;

                        @media only screen and (max-width: 550px){
                            width: 150px;
                            height: 150px;
                        }
                    }
                }

                &--details{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 50px;

                    @media only screen and (max-width: 991px){
                        vertical-align: middle;
                    }

                    @media only screen and (max-width: 550px){
                        display: block;
                        margin-left: 0;
                        margin-top: 20px;
                    }

                    span{
                        margin-bottom: 65px;
                        display: block;

                        @media only screen and (max-width: 991px){
                            margin-bottom: 20px;
                        }

                        @media only screen and (max-width: 550px){
                            margin-bottom: 8px;
                        }

                        a{
                            font-size: 20px;
                            font-family: $roboto-light;
                            text-transform: uppercase;
                            color: #292929;
                            text-decoration: none;

                            @media only screen and (max-width: 550px){
                                font-size: 16px;
                            }
                        }

                        img{
                            margin-right: 5px;

                            @media only screen and (max-width: 550px){
                                width: 24px;
                                object-fit: cover;
                            }
                        }
                    }

                    h4{
                        a{
                            font-size: 40px;
                            font-family: $sourcesans-semibold;
                            color: #292929;
                            text-decoration: none;

                            @media only screen and (max-width:1199px){
                                font-size: 30px;
                            }
                        }
                    }

                    h5{
                        font-size: 20px;
                        font-family: $roboto-light;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                        color: #292929;

                        @media only screen and (max-width:1199px){
                            font-size: 18px;
                        }
                    }
                }
            }

            &__next{
                text-align: right;

                @media only screen and (max-width: 991px){
                    text-align: center;
                }

                @media only screen and (max-width: 550px){
                    display: flex;
                    flex-wrap: wrap;
                }

                &--image{
                    display: inline-block;
                    vertical-align: top;
                    width: 250px;

                    @media only screen and (max-width: 991px){
                        vertical-align: middle;
                    }

                    @media only screen and (max-width: 550px){
                        order: 1;
                        margin: 0 auto;
                        display: block;
                    }

                    img{
                        border-radius: 100%;
                        width: 220px;
                        height: 220px;
                        object-fit: cover;
                        object-position: center;

                        @media only screen and (max-width: 550px){
                            width: 150px;
                            height: 150px;
                        }
                    }
                }

                &--details{
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 50px;

                    @media only screen and (max-width: 991px){
                        vertical-align: middle;
                    }

                    @media only screen and (max-width: 550px){
                        order: 2;
                        display: block;
                        width: 100%;
                        margin-top: 20px;
                        margin-right: 0;
                    }

                    span{
                        margin-bottom: 65px;
                        display: block;

                        @media only screen and (max-width: 991px){
                            margin-bottom: 20px;
                        }

                        @media only screen and (max-width: 550px){
                            margin-bottom: 8px;
                        }

                        a{
                            font-size: 20px;
                            font-family: $roboto-light;
                            text-transform: uppercase;
                            color: #292929;
                            text-decoration: none;

                            @media only screen and (max-width: 550px){
                                font-size: 16px;
                            }
                        }

                        img{
                            margin-right: 5px;

                            @media only screen and (max-width: 550px){
                                width: 24px;
                                object-fit: cover;
                            }
                        }
                    }

                    h4{
                        a{
                            font-size: 40px;
                            font-family: $sourcesans-semibold;
                            color: #292929;
                            text-decoration: none;

                            @media only screen and (max-width:1199px){
                                font-size: 30px;
                            }
                        }
                    }

                    h5{
                        font-size: 20px;
                        font-family: $roboto-light;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                        color: #292929;

                        @media only screen and (max-width:1199px){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}