section {
    &.page{
        &--tutorials{
            .tutorials{
                padding: 50px 0;
                position: relative;
                background: #fbf8f8;

                &__list{
                    margin-bottom: 30px;
                    text-align: center;

                    &--details{
                        h3{
                            font-size: 21px;
                            color: #000;
                            text-align: center;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}